body {
    margin: 0;
}

h1 {
    background-color: rgb(255, 0, 0);
    padding: 9px;
    border-radius: 16px;
    color: white;
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    font-family: "Titan One";
    font-weight: 100;
}

h5 {
    font-family: "Roboto Slab";
    color: white;
    justify-content: center;
    font-size: larger;
    margin: 0;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 1.5px;
    font-weight: bolder;
}

.placeholder {
    opacity: 0;
}

.gameplay {
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 0;
    position: relative;
    left: 0;
    width: 251px;
    height: auto;
}

.gameplay_img {
    width: 251px;
    height: auto;
    margin-bottom: 150px;
}

.gameplay_vid {
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    height: 250px;
    width: 250px;
}

.button {
    background-color: black;
    border-color: white;
    width: 70px;
    height: 40px;
    border-radius: 5px;
}